extends layout

block content 
    each i in tournament
        h1= i
    each i in races
        each j in i 
            h1= j
    each i in drivers
        each j in i 
            h1= j
                        