extends layout

block content
    link(rel="stylesheet", href="/css/register.css")
    #register-container
        h2 Actualizar datos
        form(action="/register" method="post")
            .form-group
                label(for="name") Nombre
                input#name.form-control(type="text" name="name" value=result.NombreUsuario required)
            
            .form-group
                label(for="email") Correo Electronico
                input#email.form-control(type="text" name="email" value=result.CorreoElectronico required)

            .form-group
                label(for="startdate") Contrasena
                input#password.form-control(type="password" name="password" placeholder="Contrasena" required)

            button.btn-register.btn-primary(type="submit") Actualizar 
            p(class="hidden" id="alert")

    script(src="/js/recoverDatesEdit.js")