extends layout

block content 
    main
        section#hero
            h1 Bienvenido a Nombre del Sitio Web
            p Descripci칩n breve del sitio web y lo que ofrece
            a(href="#", class="btn") Conoce m치s
            h2 Toneos
                .product-grid
                    each el in results 
                        .product
                            img(src="", alt="img torneo 1")
                            h3 #{el.userName}
                            p La contrasena es: #{el.password}
                            a(href="#", class="btn") M치s informaci칩n
                    