extends layout

block content 
    main
        section#hero
            h1 Bienvenido a Nombre del Sitio Web
            p Descripci칩n breve del sitio web y lo que ofrece
            a(href="#", class="btn") Conoce m치s
            h1 Toneos
                .product-grid
                    each el in results 
                        .product
                            div
                                img(src="/img/img.jpeg", alt="img torneo 1")
                                h2 #{el.NombreTorneo}
                                p #{el.Descripcion}
                                p Inicio: #{el.fechaInicioLegible} 
                                p Termino: #{el.fechaTerminoLegible}
                            a(href="/tournament/participate/"+ el.TorneoID, class="btn") M치s informaci칩n
                    