doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Menú Lateral
        link(rel="stylesheet", href="/css/Style.css")
    body
        .container
            .menu
                ul
                    li
                        a(href="/")
                            img(src="/img/home.png", alt="")
                    
                    if statuslogin 
                        li
                            a(href="/tournament")
                                img(src="/img/trofeo.png", alt="")
                        li
                            a(href="/team")
                                img(src="/img/equipo.png", alt="")
                        li
                            a(href="/tournament/history")
                                img(src="/img/tiempo-pasado.png", alt="")
                        li
                            a(href="/edit")
                                img(src="/img/ajustes-deslizadores.png", alt="")
                        li
                            a(href="" id="logout") 
                                img(src="/img/salida.png", alt="")
                    else 
                        li
                            a(href="/login" id="login") 
                                img(src="/img/usuario.png", alt="")

            .content
                block content
    script(src='/js/main.js', type='module')