doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="css/style.css")
    body 
        header
            nav
                a(href="#")
                    img(src="", alt="Logo del Sitio")
                ul
                    li: a(href="#") Inicio
                    li: a(href="#") Acerca de
                    li: a(href="#") Servicios
                    li: a(href="#") Contacto
        section#featured
            block content
    footer
      p &copy; Nombre del Sitio Web
    script(src='js/main.js', type='module')