extends layout

block content
    #register-container
        h2 Iniciar sesion
        form(action="/register" method="post")
            .form-group
                label(for="email") Correo electr칩nico
                input#email.form-control(type="email" name="email" placeholder="Ingresa tu correo electr칩nico" required)

            .form-group
                label(for="password") Contrase침a
                input#password.form-control(type="password" name="password" placeholder="Ingresa tu contrase침a" required)

            p(class="hidden" id="alert")
            button.btn-register.btn-primary(type="submit") Iniciar sesion

    script(src="js/recoverDatesLogin.js")