extends layout

block content
    .container
        .content
            .buttons-container
                a.btn.btn-primary(href="/team/participate") Equipos a los que pertenesco
                a.btn.btn-primary(href="/team/myteam") Mis equipos
