extends layout

block content 
    main
        h1 MIS TORNEOS
            .product-grid
                if status
                    each el in results 
                        .product
                            div
                                img(src="/img/img.jpeg", alt="img torneo 1")
                                h2 #{el.nombreTorneo}
                                p #{el.descripcion}
                                p Inicio: #{el.fechaInicioLegible} 
                                p Termino: #{el.fechaTerminoLegible}
                            a(href="#", class="btn") Más información
                else
                    h3.vacio No posee torneos inscritos
                        