html{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    font-family: sans-serif;
    color: #333;
    line-height: 1.6;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.text-center{
    text-align: center;
}

/* Encabezado y navegación */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Sección de héroe */
#hero {
  background-image: url('hero-bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px;
}

#hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn {
  background-color: #ff6600;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

/* Productos destacados */
#featured {
  padding: 50px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.product {
  max-width: 300px;
  height: auto;
}
.product img {
  max-width: 100%;
  height: auto;
}

.product h3 {
  margin-top: 10px;
}


/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/*--------REGISTER SECTION-----------*/

register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-register {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}