extends ../layout

block content 
    h1 EQUIPOS
    .buttons-container
        a.btn.btn-primary(href="/team/newteam") Crear equipo
    if status
        .product-grid
            each el in teamResult 
                .product
                    div
                        img(src="/img/img.jpeg", alt="img torneo 1")
                        h2 #{el.Nombre}
                        p #{el.Descripcion}
                    
                    if owner   
                        a(href="/myteam/edit/"+el.EquipoID, class="btn") Editar
                        a(href="/myteam/delete/"+el.EquipoID, class="btn") Eleminar
    else
        h3.vacio No posee torneos inscritos
                        