extends ../layout

block content
    .container
        .content
            .buttons-container
                a.btn.btn-primary(href="/tournament/participate") Torneos Incritos
                a.btn.btn-primary(href="/tournament/mytournaments") Mis Tornreos
